.rodape{
    display: flex;
  
    background-color: rgb(40, 41, 42);
    height: 45vh;
}

.tasks{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.btn_add_div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 180px;
    height: 45vh;
    
}
.btn_addTask{    
    margin-top: 40px;    
    margin-left: 30px;
    margin-right: 20px;
    width: 130px;
    height: 50px;
    background-color: rgb(253,239,193);
    border: 4px solid rgb(250,203,3);
    border-radius: 50px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.btn_addTask:hover{
    background-color: rgb(250, 246, 233);
    border: 4px solid rgb(248, 216, 73);
}